html{
    --projectTitle-color:rgb(220, 220, 220);
    --image-border: rgb(103, 103, 103);
        scroll-behavior: smooth;
}

* {
    margin: 0;
    font-family: sans-serif;
}

section{
    min-width: 340px;
    min-height: 100vh;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}


#navbar {
    position: fixed;
    display: flex;
    width: 100%;
    height: 40px;
    background: rgba(0, 0, 0, .8);
    z-index: 1;
}

#word-link-container{
    display: inline-block;
    width: 50%;
    height: 40px;
    text-align: right;
    padding-top: 7px;
}

#icon-link-container {
    display: inline-block;
    width: 50%;
    height: 40px;
    padding-top: 9px;
}

.nav-icons {
    color: white;
    text-align: left;
    margin-left: 10px;
}

.nav {
    color: white;
    text-decoration: none;
    margin: 0px 20px 0 0;
    font-size: 1.2rem;
}

#navbar a:hover {
    color: rgb(50, 230, 100);
    transition-duration: .3s;
}

#welcome-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0)),
    url(./images/pexels-pixabay-50711.jpg);
    background-size: cover;
    color: white;
}

#profile-img-container {
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}


#profile-img {
    background-image: url(./images/catmask.png);
    background-size: contain;
    border-radius: 50%;
    animation-name: displayProfile;
    animation-duration: 1s;
    animation-delay: 4000ms;
    animation-fill-mode: forwards;
}

@keyframes displayProfile {
    from {
        width: 0px;
        height: 0px;
    }

    to {
        width: 100px;
        height: 100px;
    }
}

#greeting{
    font-size: 2rem;
    text-align: center;
    margin-top: 10vh;
    animation-name: greet;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2000ms;
}

@keyframes greet{
    from{
        margin-top: 10vh;
    }
    to{
        margin-top: 0;
        font-size: 1.5rem;
    }
}

#dev {
            margin-top: 10px;
            font-family: courier;
            color: rgb(50, 230, 100);
            background: black;
            padding: 10px 20px;
            border-radius: 10px;
            display: inline-block;
}

.about{
    background-color: transparent;
    color: transparent;
    margin-top: 20px;
    width: 80%;
    max-width: 500px;
    padding: 10px;
    border-radius: 10px;
    animation-name: reveal;
    animation-duration: 1s;
    animation-delay: 4000ms;
    animation-fill-mode: forwards;
}

@keyframes reveal{
    to{
        background: rgba(0, 0, 0, .5);
        color: white;
    }
}

#download-btn{
    margin-top: 2vh;
    background-color: transparent;
        color: transparent;
        border-color: transparent;
    border-width: 3px;
    border-radius: 30px;
    font-size: 1rem;
    font-family: sans-serif;
    padding: 10px 20px;
    animation-name: showBtn;
        animation-duration: 1s;
        animation-delay: 5000ms;
        animation-fill-mode: forwards;
        
}


@keyframes showBtn{
    from{background-color: transparent;
        color: transparent;
        border-color: transparent;}
        to{background-color: black;
            color: rgb(50, 230, 100);
            border-color: gray;
            
        }
    }

#projects {
    padding-bottom: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .3)), url(./images/pexels-messala-ciulla-1114226.jpg);
    background-size: cover;
}

#project-section-container{
    padding-top: 50px;
}


#project-tile {
    /* border: 4px solid red; */
    max-width: 900px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.project-container{
    border: 4px solid var(--image-border);
    box-shadow: 0px 2px 35px 3px rgba(0, 0, 0, 0.75);
    position: relative;
    width: 90%;
    margin: auto;
    background-color: var(--image-border);
    
}

.project-container:hover {
    --image-border: rgb(160, 160, 160);
    --projectTitle-color: white;
}

.project-title{
    color: var(--projectTitle-color);
    font-size: 1rem;
    background-color: var(--image-border);
    height: 30px;
    margin: auto;
    z-index: 1;
    text-align: center;
}

img {
    border-bottom-width: 50px;
    width: 100%;
}

footer {
    position: relative;
    min-width: 340px;
    height: 100vh;
    background: linear-gradient(rgb(0, 0, 0), rgb(1, 40, 0));
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

footer a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#foot-head {
    padding-top: 150px;
    margin-bottom: 100px;
}

#form-header {
    padding-top: 90px;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

form{
    width: 60%;
    position: absolute;
    right: 50%;
    top: 180px;
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    color: white;
    font-size: 1rem;
    text-align: right;
}

#message{
    resize: none;
}

#message-small {
    top: 135px;
}

.fail{
    box-shadow: 0px 0px 12px 2px rgb(255, 65, 65);
}

.labels{
    position: relative;
}

small{
    width: 200px;
    color:rgb(252, 50, 50);
    text-align: left;
    position: absolute;
    top: 30px;
    right: -230px;
}

#submit-value{
    padding: 20px;
    background-color: transparent;
    color:rgb(50, 230, 100);
    border-color: rgb(50, 230, 100);
    border-width: 3px;
    border-radius: 30px;
    font-size: 1rem;
    font-family: sans-serif;
    grid-area: 4/2/4/3;
}


@media (max-width: 960px) {
    #project-tile {
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        max-width: 600px;
    }

    h3{
        font-size: 1.5rem;
    }

    img{
        max-width: 350px;
    }

    .nav{
        font-size: .7rem;
        margin-right: 5px;
    }

    #profile-img-container{
        margin-top: 14vh;
    }

    #profile-img{
        animation-name: none;
        width: 50px;
        height: 50px;
    }
    #greeting{
        animation-name: none;
        font-size: 1rem;
        margin-top: 0;
    }

    .about{
        font-size: .8rem;
        animation-name: none;
        margin-top: 20px;
            width: 80%;
            max-width: 500px;
            padding: 10px;
            border-radius: 10px;
            color: white;
            background-color: rgba(0, 0, 0,.5);
    }

    #download-btn{
        animation-name: none;
        border-width: 3px;
            border-radius: 30px;
            font-size: .7rem;
            font-family: sans-serif;
            padding: 5px 10px;
            margin-top: 2vh;
            background-color: black;
                color: rgb(50, 230, 100);
                border-color: gray;
    }

    #submit-value{
        padding: 5px 10px;
        font-size: .7rem;
    }

    .project-container{
        max-width: 350px;
    }

    #form-header{
        padding-top: 50px;
    }

    form {
        text-align: right;
        margin-left: 5px;
        gap:20px;
        grid-template-columns: 80px 1fr;
        left: 0;
        right: 0;
        top:23%;
    }
    small{
        right: -220px;
    }
    legend{
        font-size: 1rem;

    }
}

@media (min-width: 2560px){
    #project-tile{
        max-width: 1200px;
    }
}
